<input type="text" [(ngModel)]="titre" placeholder="Rechercher par titre">

<div class="container">
    <div class="row">

  
      <!-- list-categories.component.html -->
<div *ngFor="let category of categories | contains:'title'" class="col-md-4" style="margin-bottom: 20px;">
  <app-card (notified)="f($event)"
    [id]="category.id"
    [image]="category.image"
    [title]="category.title"
    [description]="category.description"
    [available]="category.available"
    btnText="Voir produits"
    (addToShortlist)="handleAddToShortlist(category.id)"
  ></app-card>
</div>


      
      
   
   
      
    </div>
  </div>
  <router-outlet></router-outlet>
  <!--{{nom}}
  <button (click)="clickMe()">test</button>
  <input value="nom">
  <input [value]="nom">
  <br>
  <input [(ngModel)]="nom">-->